body
{
 background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://calemposey12.github.io/blk.jpg");
 color: #FFFFFF;
 font-family: arial;
 
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}


.main-nav li a 
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: arial;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

.logo img
{
	width: 150px;
	height: auto;
	float: left;
}

.row
{
	max-width: 1200px
	margin: auto;
}

.hero
{
	position: absolute;
	width: 1200px;
	margin-left: 0;
	margin-top: 0;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	margin-top: 150px;
	margin-left: 100px;

}

.button
{
	margin-top: 30px;
	margin-left: 440px;
}

.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.btn-one
{
	background-color: grey;
	font-family: arial;
	margin-left: 60px;
}

.btn-two
{
	background-color: grey;
	font-family: arial;
	margin-left: 0px;

}

h2
{
	color: white;
	font-size: 40px;
	text-align: center;
	margin-left: 120px;
}

p 
{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-left: 100px;
}

.center
{
	display: block;
	margin-left: 350px;


}

.center2
{
	margin-left: 330px;
	display: block;

}

.center3
{
	margin-left: 330px;
	margin-top: 5px;
	display: block;

}

.center4
{
	transform: rotate(360deg);
	margin-left: 330px;
	margin-top: 5px;
	display: block;

}

.center5
{
	margin-left: 330px;
	margin-top: 5px;
	display: block;

}

.center6
{
	margin-left: 330px;
	margin-top: 40px;
	display: block;
	transform: rotate(90deg);
}

.center7
{
	margin-left: 330px;
	margin-top: 80px;
	dislay: block;
}

.center8
{
	margin-left: 330px;
	margin-top: 0px;
	dislay: block;
}



.network-name
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: arial;
	font-size: 15px;
	float: right;
	list-style: none;
	margin-top: 30px;
	display: inline-block;
	border: 1px solid white;

}











